@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

body {
    width: 1020px;
    margin: 0px auto;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #2d303a;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid #323746;
}

.logo-singolo {
    font-family: 'Lato', sans-serif;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
    margin: 35px 0px 35px 40px;
}

.logo-x {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #f06c64;
}


.navigation {
    display: flex;
    flex-direction: row;
    flex-basis: 370px;
    margin: 45px 40px 35px;
    justify-content: space-between;
}

.nav-link {
    font-family: 'Lato', sans-serif;
    font-size: 8.6pt;
}

.nav-link a {
    color: rgba(255, 255, 255, 255);
    text-decoration: none;
}

.nav-link a:hover {
    color: rgba(240, 108, 100, 255);
}

.dot {
    margin: 0 10px;
    font-size: 14px;
    color: #494e62;
}

.main {
    height: 600px;
    background-color: rgba(240, 108, 100, 255);
}



.services {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.title {
    margin-left: 40px;
    margin-top: 67px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;

}

.description {
    margin: 33px 40px 50px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
}

.service-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 40px 66px;
}

.card {
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
}

/* .card-picture{
    text-align: center;
    border: 2px solid #6e748f;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    margin-right: 20px;
}

.card-picture > img{
    position: relative;               
    top: 25%;
} 
*/

.card-picture1 {
    background: url('assets/pen.png') no-repeat;
    border-radius: 50%;
    border: 2px solid #6e748f;
    width: 59px;
    height: 59px;
    margin-right: 20px;
    padding: 5px;
    background-position: center;
}



.card-name {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.cards-info {
    display: flex;
    flex-direction: column;
    width: 219px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
}